*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

body {
    background: linear-gradient(
            to right bottom,
            rgba(0, 15, 88, .8),
            rgba(0, 0, 0, .8));
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgb(119, 119, 119);
    padding-bottom: 10px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-.3rem);
    cursor: pointer;
}

.btn:active {
    transform: translateY(-.1rem);
}